extends layout

block body
	h3 You are currently checking out ##{hashtagValue}
			
	if hashtagValue
		.row
			each image in imageArray
				.col-xs-4.images(style="text-align:center")
					.thumbnail
						a(href=image.link): img.img-responsive.img.hastag-img(src=image.url)
						.caption
							h3 Tags
							p=image.tags
							form#saveHashTag(role="form", method="post", action="/save")
								input(type="hidden", name="hashtag", value=hashtagValue)
								input(type="hidden", name="url", value=image.url)
								input(type="hidden", name="link", value=image.link)
								button(type="submit", class="btn btn-info") Save
